<div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Alta de Actores</h2>
      </div>
  
      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <app-tabla-paises (eventoPaisSeleccionado)="mostrarPais($event)"></app-tabla-paises>
        </div>
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" [formGroup]='formActor' (ngSubmit)="crearActor()">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstName" placeholder="" required formControlName="firstName">
                <small class="invalid" *ngIf="formActor.get('firstName').errors?.required && formActor.get('firstName').touched">El nombre es requerido</small>

              </div>
  
              <div class="col-sm-6">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastName" placeholder="" required formControlName="lastName"> 
                <small class="invalid" *ngIf="formActor.get('lastName').errors?.required && formActor.get('lastName').touched">El nombre es requerido</small>
              </div>
               
              <div class="col-md-5">
                <label for="country" class="form-label">Pais de nacimiento</label>
                <input id="country" value="{{nombrePaisSeleccionado}}" disabled formControlName="country">
                <small class="invalid" *ngIf="formActor.get('country').errors?.required && formActor.get('country').touched">El nombre es requerido</small>
              </div>
              
              <div class="col-md-5">
                <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                <input id="fechaNacimiento" type="date" formControlName="fechaNacimiento">
                <small class="invalid" *ngIf="formActor.get('fechaNacimiento').errors?.required && formActor.get('fechaNacimiento').touched">El nombre es requerido</small>
              </div>

            </div>

            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>
    </main>
</div>